[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=UMLet
GenericName=UMLet
Comment=Free UML Tool for Fast UML Diagrams
Exec=java -Dsun.java2d.xrender=f -jar /home/dongzaiq/tools/Umlet/umlet.jar
Icon=/home/dongzaiq/tools/Umlet/img/umlet_logo.png
Terminal=false
Categories=Development;
StartupNotify=true
