SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="4ee7",MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="90db", ATTRS{idProduct}=="05c6",MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="d00d",MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="901d", ATTRS{idProduct}=="05c6",MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="d001",MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="d001",MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="6860", ATTRS{idProduct}=="04e8",MODE="0666"

